@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Ubuntu Mono", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

h3 {
  padding: 1rem 0;
}

nav i {
  vertical-align: middle;
}

/* COLORS */
.bg-color-red {
  background-color: rgb(255, 84, 68);
}

.bg-color-purple {
  background-color: rgb(170, 45, 182);
}

.bg-color-cyan {
  background-color: rgb(30, 194, 164);
}

.bg-color-blue {
  background-color: rgb(39, 139, 224);
}

.bg-color-white {
  background-color: #fff;
}

.bg-light-gray {
  background-color: rgb(246, 246, 246);
}

.bg-social-media {
  background-color: #464646;
}

.bg-color-black {
  background-color: #000;
}

.color-white {
  color: #fff;
}

.color-black {
  color: black;
}

/* COMMON PROPERTIES */
.border-red {
  border: 1px solid red;
}
.b-radius {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
}

.menu-bars {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* FLEX PROPERTIES */
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-33 {
  flex-basis: 33.333%;
}

.flex-basis-25 {
  flex-basis: 25%;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* MARGIN */
.m-bottom-6rem {
  margin-bottom: 6rem;
}

.m-top-03-rem {
  margin-top: 0.3rem;
}
.m-bottom-3rem {
  margin-bottom: 3rem;
}

.m-bottom-2rem {
  margin-bottom: 2rem;
}

.m-top-3rem {
  margin-top: 3rem;
}

.m-bottom-1-6rem {
  margin-bottom: 1.6rem;
}

.m-right-2-5rem {
  margin-right: 2.5rem;
}

.minus-m-right-2-5rem {
  margin-right: -2.5rem;
}

.m-right-2rem {
  margin-right: 2rem;
}

.minus-m-right-2rem {
  margin-right: -2rem;
}

.margin-center {
  margin: 0 auto;
}

/* PADDING */
.padding-05rem {
  padding: 0.5rem;
}
.p-top-bottom-5rem {
  padding: 5rem 0;
}

.p-top-bottom-4rem {
  padding: 4rem;
}

.p-top-bottom-2rem {
  padding: 2rem 0;
}

.padding {
  padding: 1.5rem 2rem;
}

.padding-2 {
  padding: 5rem;
}

/* HEADER */

header {
  margin: 0 auto;
  min-height: 100vh;
  background-color: gray;
}

h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: rgb(48, 47, 47);
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", sans-serif;
}

/* NAVIGATION */
nav {
  background-color: #fff;
  padding: 2rem 4rem 0;
}

ul li {
  list-style: none;
  position: relative;
  padding-bottom: 2rem;
}

ul li .dropdown {
  display: none;
  position: absolute;
  top: 70%;
  z-index: 999;
  background-color: #fff;
}

.dropdown li {
  padding: 0.3rem 0.5rem;
}

ul li:hover .dropdown {
  display: block;
}

ul li:not(:last-child, .dropdown li) {
  margin-right: 1rem;
}

/* FONTS */
.fw-bold {
  font-weight: 700;
}

.font-size-2-5rem {
  font-size: 2.5rem;
}

.font-size-2rem {
  font-size: 2rem;
}

.font-size-1-8rem {
  font-size: 1.6rem;
}

.font-size-07rem {
  font-size: 0.7rem;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.wrapper-70 {
  width: 70%;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.information {
  padding: 6rem 0;
}

/* .information ul.info {


  color: #000;
} */

hr {
  width: 5%;
  margin: 2.5rem auto;
}

.buttons a:not(:last-child) {
  margin-right: 0.5rem;
}

.buttons a {
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  background-color: #e6e1e1;
  box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
}

.buttons a:first-child {
  color: #fff;
  background-color: #000;
}

.buttons a:hover {
  background-color: rgb(45, 45, 45);
  color: #fff;
}

.info li {
  list-style-image: url("./images/arrow.png");
  padding-top: 0;
}

.flex-inner:hover {
  border: 1px solid #000;
}

.social-media a:not(:last-child) {
  margin-right: 1rem;
}

.social-media i:hover {
  color: rgb(45, 45, 45);
}

/* MEDIA QUERIES */

@media screen and (max-width: 425px) {
  nav {
    padding: 1rem;
  }
  nav ul li {
    display: none;
  }

  .menu-bars {
    display: block;
  }

  .logo {
    align-self: center;
  }

  .flex-parent {
    flex-direction: column;
  }

  .flex-basis-25 {
    margin-bottom: 2rem;
    padding: 0 3rem;
  }

  .header-txt {
    padding: 0 2rem;
  }

  .col-3 {
    display: none;
  }

  .social-media i {
    font-size: 1.5rem;
  }

  .container .flex-parent {
    padding: 0 1rem;
  }

  .container .flex-parent .flex-inner {
    margin-bottom: 1.5rem;
  }

  .padding {
    padding: 1.5rem 1rem;
  }

  .others {
    margin-top: 0.8rem;
  }

  footer small {
    font-size: 0.6rem;
  }

  .information {
 
  }

.info {
  flex-basis: 33.333%;
}

.info li {
    padding-top: 1rem;
}
}
